/*html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  text-shadow: 1px 1px 30px #99f;
}*/

@font-face
{
  font-family: wodrlogofont;
  src: url('typewriter.ttf');
}

@font-face
{
  font-family: wodrfont;
  src: url('MBBlockType.ttf');
  /*src: url('MBBlockType.ttf');
  src: url('KOMIKRAK.ttf');
  src: url('Mignone.ttf');
  src: url('Neon.ttf');
  src: url('Neon2.ttf');
  src: url('Fishfingers.ttf');
  src: url('nakedchick.ttf');*/
}

body {
  background: #cfcfcf url(bk.png);
  background-size: 90px;
}

html,body,input {
  font-family: wodrfont !important;
}

label {
  font-size: 18px;
  margin: 0 auto;
}

#header h1 {
  text-align:center;
  text-shadow:10px;
}


#wodrs_title {
  text-align:center;
  letter-spacing:-22px;
  font-size:150px;
  margin-top:70px;
  text-shadow:0px 3px 3px #666;
  color:#333; 
  color:rgba(181,94,30,1);
/*  rgba(181,94,30,1);*/
  -webkit-transition: all 1s ease-out;
}

.title_out {
  opacity:0;
  font-size:300px;
  text-align:right;
}

.title_light {
  opacity:0.1;
  font-size:300px;
  text-align:right;
}

.score {
  font-size:35px !important;
  color:#fff !important;
  text-shadow:0px 3px 3px #
}

.wodrs_logo_big {
  font-size:120px;
}

#typing {
  position: absolute;
  overflow:hidden;

  width: 0px;
  height: 0px;
  border: 1px solid rgb(19,29,38);
}


.word_typer { 
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  text-transform: lowercase;
  width: 40%;
  border-bottom: 2px dashed rgba(229,125,21,0.9);
  line-height: 35px;
  height: 35px;
  color:rgba(229,125,21,0.9);
  text-shadow:0px 1px 1px #666 !important;
} /* These properties combine to create the look of the input fields. */

.game_timer {
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-shadow:0px 1px 1px #666 !important;
  color:rgba(229,125,21,0.9);
}

.game_score {
  color:rgba(229,125,21,0.9);
  text-shadow:0px 1px 1px #666;
}

.button {
  background:rgba(180,180,180,0.8);
  font-weight:normal;
  text-shadow:0px 1px 1px #666;
  color:rgba(181,94,30,1);
  font-size:26px;
  margin-bottom:20px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height:55px;
  padding:10px 20px;
  -moz-box-shadow: 10px 10px 5px #333;
  -webkit-box-shadow: 10px 10px 15px #333;
  box-shadow: 0 0 1px 1px #999;
}

.box {
  background:rgba(180,180,180,0.8);
  margin-bottom:20px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 5px #999;
  -webkit-box-shadow: 10px 10px 15px #999;
  box-shadow: 0 0 1px 1px #999;
}

.box a, .box a:active {
  color:#444;
  font-weight:normal;
}

.box_big {
  font-size:25px;
}

.box_big p {
  padding:20px;
  line-height:35px;
  font-size:25px;
}

.box h3{
  padding:15px;
  text-shadow:0px 1px 1px #666 !important;
  background:rgba(140,140,140,0.4);
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  }

.box ul{
  padding:15px;
  }

.bounce {
  color: orange;
  text-shadow: 0px 0px 30px red;
  
}


/*** ANIMATION ***/

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateX(360deg); }
  100% { -webkit-transform: rotateX(0deg); }
}

@-moz-keyframes rotate {
  0% { -moz-transform: rotateX(360deg); }
  100% { -moz-transform: rotateX(0deg); }
}


#words_slider {
  font-size: 60px;
  font-family: wodrfont;
  /*font-weight: bold;*/
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow:0px 1px 1px #666 !important;
  color:rgba(229,125,21,0.9);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  height: 415px; 
  margin-top: 18px;
  -webkit-transition: opacity .5s;
  transition: opacity 0.5s;
  opacity: 0;

  -webkit-transform-origin-z: 0px;
  -webkit-transform-origin-x: 200px;
  -webkit-transform-origin-y: 50%;
  -webkit-perspective: none;
  -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;


}

.animate {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 7s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: 1;
  opacity: 1 !important;
}

.word {
  text-transform: lowercase;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -webkit-transform-style: preserve-3d;

  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%; 

}

#word_1 { -webkit-transform: rotateX(300deg);  }
#word_2 { -webkit-transform: rotateX(240deg); }
#word_3 { -webkit-transform: rotateX(180deg); }
#word_4 { -webkit-transform: rotateX(120deg);  }
#word_5 { -webkit-transform: rotateX(60deg);  }


.left {
  float:left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}


.panel {
  padding: 15px;
}

.panel_header {
  height:70px;
}

.panel_content {
  margin-top:180px;
}

.panel_footer {
  margin-top:20px;
  text-align:center;
}

.panel h3 {
  font-size: 26px;
  font-weight: normal !important;
  text-shadow:0px 1px 1px #fff;
  color:rgba(181,94,30,1);
}

.game_running {
  text-shadow: 0px 0px 5px #777;
  font-weight: normal !important;
}

.game_won {
  text-shadow: 0px 0px 5px #4F4;
}

.game_lost {
  text-shadow: 0px 0px 5px #F44;
}


#results h4 {
  font-size: 24px;
  font-weight: normal !important;
  text-shadow: 0px 0px 5px #88F;
}

.center {
  display: table;
  margin: auto;
  text-align: center;
}


.game_completed .left, .game_completed .right, .game_running .left, .game_running .right {
  width: 100px;
}

.requesting_player {
  display:none;
}
