/*html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  text-shadow: 1px 1px 30px #99f;
}*/

@font-face
{
  font-family: wodrlogofont;
  src: url('typewriter.ttf');
}

@font-face
{
  font-family: wodrfont;
  src: url('MBBlockType.ttf');
  /*src: url('MBBlockType.ttf');
  src: url('KOMIKRAK.ttf');
  src: url('Mignone.ttf');
  src: url('Neon.ttf');
  src: url('Neon2.ttf');
  src: url('Fishfingers.ttf');
  src: url('nakedchick.ttf');*/
}

body {
  background-image: url(bk.png);
  background-size: 90px;
}

html,body,input {
  font-family: wodrfont !important;
}

label {
  font-size: 18px;
  margin: 0 auto;
}

#wodrs_logo {
  font-family: wodrlogofont !important;
  font-size:120px;
  text-align:center;
  margin-top:200px;
  text-shadow:10px;
  position:absolute;
  animation-name:logouno;
  animation-duration:12s;
  animation-timing-function:ease;
  animation-delay:-1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;

  /* Firefox: */
  -moz-animation-name:logouno;
  -moz-animation-duration:12s;
  -moz-animation-timing-function:ease;
  -moz-animation-delay:-1s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:alternate;
  -moz-animation-play-state:running;

  /* Safari and Chrome: */
  -webkit-animation-name:logouno;
  -webkit-animation-duration:12s;
  -webkit-animation-timing-function:ease;
  -webkit-animation-delay:-1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state:running;
}

@keyframes logouno{

0%   {opacity:0;}

3%  { opacity:0.1; }

6%  { opacity:0.2; }

9%  {opacity:0.3; }

12%  { opacity:0.4; }

15%  { opacity:0.5;}

18%  {opacity:0.6;}

21%  {opacity:0.7;}

24%  {opacity:0.8; }

27%  {opacity:0.9 }

29% {top:100px; left:0px;}

30% {opacity:1; top:100px; left:0px;}

31%{opacity:1; top:104px; left:0px;}

32%{opacity:1; top:104px; left:0px;}

33%{opacity:1; top:104px; left:0px;}

34%{opacity:1; top:104px; left:6px;}

36%{opacity:0.8; top:104px; left:-12px;}

38% { opacity:1; top:105px; left:0px}

40% {opacity:0.5; top:104px; left:12px}

42% { opacity:0.4; top:104px; left:0px}

44%{opacity:0.3; top:104px; left:-8px;}

46%{ opacity:0.3; top:104px; left:6px}

47%{ opacity:0.3; top:104px; left:0px}

50%{ opacity:1; top:100px; left:0px}

51%{opacity:1; top:104px; left:6px;}

52%{opacity:0.8; top:104px; left:-12px;}

53% { opacity:1; top:105px; left:0px}

54% {opacity:0.5; top:104px; left:12px}

55% { opacity:0.4; top:104px; left:0px}

56%{opacity:0.3; top:104px; left:-8px;}

57%{ opacity:0.3; top:104px; left:6px}

58%{ opacity:0.3; top:104px; left:0px}

59%{ opacity:1; top:100px; left:0px}

60%{ opacity:1; top:100px;}

61%{ opacity:1;  left:8px}

62%{ opacity:0.8; left:4px}

63%{ opacity:0.3; left:-4pxpx}

64%{ opacity:1; left:0px}

65%{ opacity:1;left:4px}

66%{ opacity:1;  leftt:0px}

67%{ opacity:0.2; left:-6px}

68%{ opacity:0.5;left:0px}

69%{ opacity:1; top:100px; }

70%{ opacity:1; top:100px;}

100%  {opacity:1; top:100px; left:0px  }

}







@-moz-keyframes logouno /* Firefox 5% }*/

{

0%   {opacity:0;}

3%  { opacity:0.1; }

6%  { opacity:0.2; }

9%  {opacity:0.3; }

12%  { opacity:0.4; }

15%  { opacity:0.5;}

18%  {opacity:0.6;}

21%  {opacity:0.7;}

24%  {opacity:0.8; }

27%  {opacity:0.9 }

29% {top:100px; left:0px;}

30% {opacity:1; top:100px; left:0px;}

31%{opacity:1; top:104px; left:0px;}

32%{opacity:1; top:104px; left:0px;}

33%{opacity:1; top:104px; left:0px;}

34%{opacity:1; top:104px; left:6px;}

36%{opacity:0.8; top:104px; left:-12px;}

38% { opacity:1; top:105px; left:0px}

40% {opacity:0.5; top:104px; left:12px}

42% { opacity:0.4; top:104px; left:0px}

44%{opacity:0.3; top:104px; left:-8px;}

46%{ opacity:0.3; top:104px; left:6px}

47%{ opacity:0.3; top:104px; left:0px}

50%{ opacity:1; top:100px; left:0px}

51%{opacity:1; top:104px; left:6px;}

52%{opacity:0.8; top:104px; left:-12px;}

53% { opacity:1; top:105px; left:0px}

54% {opacity:0.5; top:104px; left:12px}

55% { opacity:0.4; top:104px; left:0px}

56%{opacity:0.3; top:104px; left:-8px;}

57%{ opacity:0.3; top:104px; left:6px}

58%{ opacity:0.3; top:104px; left:0px}

59%{ opacity:1; top:100px; left:0px}

60%{ opacity:1; top:100px;}

61%{ opacity:1;  left:8px}

62%{ opacity:0.8; left:4px}

63%{ opacity:0.3; left:-4px; }

64%{ opacity:1; left:0px;}

65%{ opacity:1;left:4px}

66%{ opacity:1;  leftt:0px}

67%{ opacity:0.2; left:-6px}

68%{ opacity:0.5;left:0px}

69%{ opacity:1; top:100px; }

70%{ opacity:1; top:100px;}

100%  {opacity:1; top:100px; left:0}
}



@-webkit-keyframes logouno /*safari e chrome }*/
{

0%   {opacity:0;}

3%  { opacity:0.1; }

6%  { opacity:0.2; }

9%  {opacity:0.3; }

12%  { opacity:0.4; }

15%  { opacity:0.5;}

18%  {opacity:0.6;}

21%  {opacity:0.7;}

24%  {opacity:0.8; }

27%  {opacity:0.9 }

29% {top:100px; left:0px;}

30% {opacity:1; top:100px; left:0px;}

31%{opacity:1; top:104px; left:0px;}

32%{opacity:1; top:104px; left:0px;}

33%{opacity:1; top:104px; left:0px;}

34%{opacity:1; top:104px; left:6px;}

36%{opacity:0.8; top:104px; left:-12px;}

38% { opacity:1; top:105px; left:0px}

40% {opacity:0.5; top:104px; left:12px}

42% { opacity:0.4; top:104px; left:0px}

44%{opacity:0.3; top:104px; left:-8px;}

46%{ opacity:0.3; top:104px; left:6px}

47%{ opacity:0.3; top:104px; left:0px}

50%{ opacity:1; top:100px; left:0px}

51%{opacity:1; top:104px; left:6px;}

52%{opacity:0.8; top:104px; left:-12px;}

53% { opacity:1; top:105px; left:0px}

54% {opacity:0.5; top:104px; left:12px}

55% { opacity:0.4; top:104px; left:0px}

56%{opacity:0.3; top:104px; left:-8px;}

57%{ opacity:0.3; top:104px; left:6px}

58%{ opacity:0.3; top:104px; left:0px}

59%{ opacity:1; top:100px; left:0px}

60%{ opacity:1; top:100px;}

61%{ opacity:1;  left:8px}

62%{ opacity:0.8; left:4px}

63%{ opacity:0.3; left:-4pxpx}

64%{ opacity:1; left:0px}

65%{ opacity:1;left:4px}

66%{ opacity:1;  leftt:0px}

67%{ opacity:0.2; left:-6px}

68%{ opacity:0.5;left:0px}

69%{ opacity:1; top:100px; }

70%{ opacity:1; top:100px;}

100%  {opacity:1; top:100px; left:0  }

}

#typing {
  position: absolute;
  overflow:hidden;
  width: 0px;
  height: 0px;
  border: 1px solid rgb(19,29,38);
}


.word_typer { 
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  text-transform: lowercase;
  width: 40%;
  border-bottom: 2px dashed white;
  line-height: 35px;
  height: 35px;
} /* These properties combine to create the look of the input fields. */

.game_timer {
	color:#fff;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bounce {
  color: orange;
  text-shadow: 0px 0px 30px red;
  
}


/*** ANIMATION ***/

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateX(360deg); }
  100% { -webkit-transform: rotateX(0deg); }
}

@-moz-keyframes rotate {
  0% { -moz-transform: rotateX(360deg); }
  100% { -moz-transform: rotateX(0deg); }
}


#words_slider {
  font-size: 60px;
  font-family: wodrfont;
  /*font-weight: bold;*/
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-shadow: 0px 0px 5px #9f9;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  height: 415px; 
  margin-top: 18px;
  -webkit-transition: opacity .5s;
  transition: opacity 0.5s;
  opacity: 0;

  -webkit-transform-origin-z: 0px;
  -webkit-transform-origin-x: 200px;
  -webkit-transform-origin-y: 50%;
  -webkit-perspective: none;
  -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;


}

.animate {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 7s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: 1;
  opacity: 1 !important;
}

.word {
  text-transform: lowercase;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -webkit-transform-style: preserve-3d;

  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%; 

}

#word_1 { -webkit-transform: rotateX(300deg);  }
#word_2 { -webkit-transform: rotateX(240deg); }
#word_3 { -webkit-transform: rotateX(180deg); }
#word_4 { -webkit-transform: rotateX(120deg);  }
#word_5 { -webkit-transform: rotateX(60deg);  }


.left {
  float:left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}


.panel {
  padding: 15px;
}

.panel h3 {
  font-size: 21px;
  font-weight: normal !important;
  text-shadow: 0px 0px 5px #88F;
}

.game_running {
  text-shadow: 0px 0px 5px #777;
  font-weight: normal !important;
}

.game_won {
  text-shadow: 0px 0px 5px #4F4;
}

.game_lost {
  text-shadow: 0px 0px 5px #F44;
}


#results h4 {
  font-size: 24px;
  font-weight: normal !important;
  text-shadow: 0px 0px 5px #88F;
}

.center {
  display: table;
  margin: auto;
  text-align: center;
}


.game_completed .left, .game_completed .right, .game_running .left, .game_running .right {
  width: 100px;
}
